<%- include('../../partials/home/header') %>

    <div class="container my-5 text-center">
        <h2 class="text-success">¡Pago exitoso!</h2>
        <p>Tu compra fue registrada correctamente. Gracias por confiar en nosotros.</p>
        <a href="/" class="btn btn-primary">Volver al inicio</a>
    </div>

    <%- include('../../partials/home/footer') %>