<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artista</title>
</head>
<body>
    <h1>Artista</h1>

    <form action="<%= isEditing ? `/artista/${artista.id_artista}?_method=PUT` : '/artista' %>" method="post">
        <div>
            <div>
                <label for="nombre_artista">Nombre</label>
                <input type="text" id="nombre_artista" name="nombre_artista" value="<%= artista.nombre_artista || ''  %>" required>
            </div>
            <div>
                <label for="genero_musical">Genero Musical</label>
                <input type="text" id="genero_musical" name="genero_musical" value="<%= artista.genero_musical || '' %>" required>
            </div>
            <div>
                <a href="/artista">
                    Cancelar
                </a>
                <button type="submit">
                    <%= isEditing ? 'Actualizar' : 'Guardar' %>
                </button>
            </div>
        </div>
    </form>
</body>
</html>